<div class="bookmarks-container">
    <h3>All bookmarks:</h3>
    <p><a [routerLink]="['/bookmarks/new']">Create a new bookmark</a></p>
    <div class="form-group row">
        <label for="example-search-input" class="col-2 col-form-label">Search</label>
        <div class="col-10">
            <input class="form-control" type="search" [(ngModel)]="query" value="Search bookmark" id="example-search-input">
        </div>
    </div>
    <my-spinner [isRunning]="isRequesting"></my-spinner>
    <table class="table table-bordered" [hidden]="isRequesting">
        <thead class="thead-inverse">
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let bookmark of bookmarks | bookmarkFilter:query">
                <td>{{bookmark._id}}</td>
                <td><a href="{{bookmark.url}}" target="_blank">{{bookmark.name}}</a></td>
                <td>{{bookmark.desc}}</td>
                <td>{{bookmark.type}}</td>
                <td>
                    <button type="button" class="btn btn-primary" (click)="onSelect(bookmark)">Edit</button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="deleteBookmark(bookmark._id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <!--<ul>
        <li *ngFor="let bookmark of bookmarks">
            {{bookmark.name}} ({{bookmark.url}} {{bookmark.desc}}) - <a (click)="deleteBookmark(bookmark._id)">Delete</a>
        </li>
    </ul>-->
</div>