<div class="col-md-10">
    <h3>All bookmarks:</h3>
    <p><a [routerLink]="['/bookmarks/new']">Create a new bookmark</a></p>
    <table class="table table-striped table-bordered">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Url</th>
            <th>Description</th>
            <th>Type</th>
        </thead>
        <tbody>
            <tr *ngFor="let bookmark of bookmarks" (click)="onSelect(bookmark)">
                <td>{{bookmark._id}}</td>
                <td>{{bookmark.name}}</td>
                <td>{{bookmark.url}}</td>
                <td>{{bookmark.desc}}</td>
                <td>{{bookmark.type}}</td>
            </tr>
        </tbody>
    </table>
    <!--<ul>
        <li *ngFor="let bookmark of bookmarks">
            {{bookmark.name}} ({{bookmark.url}} {{bookmark.desc}}) - <a (click)="deleteBookmark(bookmark._id)">Delete</a>
        </li>
    </ul>-->
</div>